a, b, body, dd, del, div, dl, dt, em, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, ul, var, input {
    margin: 0;
    padding: 0;
}
article, aside, footer, header, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
img {
    border: 0;
    vertical-align: middle;
}
em, i, u {
    font-style: normal;
}

.container, .main {
  width: 1260px;
  margin: 0 auto;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix:after {/*清除浮动*/
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    *zoom: 1;
}
body {
    font: 12px/1.5 'microsoft yahei',Arial, Verdana, "\5b8b\4f53";
    /*color: #666;*/
    background: #fff;
}
p, span, dd, dt, em {
    color: #7b7b7b;
}

h1, h2, h3, h4, h5, h6, dl {
    color: #363636;
}

a {
    color: #999;
    text-decoration: none;
    font-family: 'microsoft yahei';
}
 a:hover {
    color: #25519E;
}
.one-txt-cut {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.center-xy {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
/* .mian-color {
  color: #F10215;
} */
/* .sprite {
  background: #fff url() 0 0 no-repeat;
} */
.underline {
  border-bottom: 1px solid #ccc;
}
